body {
    margin: 0 auto;
    width: 90%;

}

main{
    display:grid;
/*    grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    background: lightgrey;
}

main > * {
    background-color: beige;
    border-radius: 10px
}

/*
article:first-of-type {
    background-color: antiquewhite;
    grid-area: 1 / 1 / span 2 / span 2;
    padding: 1rem;
}
*/

.hero_card{
    border: 2px solid black;
    margin: 10px 10px;
    width: 400px;
}

.hero_card img{
/*    width: 150px;*/
    max-width: 100%;
}
